{% trans_default_domain 'FOSUserBundle' %}

<h1 align="center"> Profile </h1>
<div class="container">
    <div class="row">
        <div class="span3">
            {% include'@User/modulesUsed/users-connect.html.twig' %}
        </div>
        <div class="span3 offset2 cards">
            <h4> Photo de profil  :</h4>
{#            {% if not app.user.illustration is empty %}
                <img src="{{ asset('images/uploads/'~ app.user.illustration) }}" class="img-circle" height="150"/><br>
            {% else %}
                <img src="{{ asset('images/imageprofil.png') }}" class="img-circle" height="150"/><br>
            {% endif %}#}
            <img src="{{ asset('images/imageprofil.png') }}" class="img-circle" height="150"/><br>
            <h4> Nom :</h4>
            <h4> Prénom :</h4>
            <h4> {{ 'profile.show.username'|trans }} :</h4>
            <p ><span class="rouge">{{ user.username }}</span></p>
            <h4> Date d'Anniversaire :</h4>
            <h4> Adresse :</h4>
            <h4> Ville :</h4>
            <h4> Code Postal :</h4>
            <h4> Pays :</h4>
            <h4> {{ 'profile.show.email'|trans }} :</h4>
            <p>{{ user.email }}</p>

        </div>
        <br>
        <ul class="span3">
                        <ol>
                            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Editer mon profile</a>
                        </ol>
                        <ol>
                            <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
                        </ol>
        </ul>
        </div>
    </div>
</div>

{% block mesJavascripts %}
    <script>
        $(document).ready(function () {
            $('#editProfile').click(function () {
                //Afficher Le titre de popup
                $('#modal-title').html("Modifier profile");
                // ATTENTION POUR LES apostrophes ET les guillemets
                var url = "{{ path('fos_user_profile_edit') }}";
                $.ajax({
                    type: 'post',
                    url: url,
                    success: function (data) {
                        // résultat de action edit : formulaire inclure dans popup
                        $('#modal_detail').html(data);
                        //Affichage de nouvelle popup
                        $('#dataModal').modal("show");
                    }
                });
            });
        });
    </script>
{%endblock%}

