{% extends "@View/views/base.html.twig" %}

{% trans_default_domain'FOSUserBundle' %}

{% block title %}Profile de {{ app.user.username }}{% endblock %}


{% block fos_user_content %}

    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    </div>



    <p> Ton profile </p>

    {% for pro in profil %}
        <div class="row">
            <div class="jumbotron col-lg-4 col-sm-6 text-center">
                <table border="1" cellpadding="15">
                    <tr>
                        <h4> Nom :
                            <small>{{ pro.username }}</small>
                        </h4>
                        <h4>
                            Age:
                            <small> {{ pro.age|date("m/d/Y") }} </small>
                        </h4>
                        <h4>
                            Loisir :
                            <small> {{ pro.loisir }}</small>
                        </h4>
                        <h4> Dernière connexion :
                        </h4>
                    </tr>
                </table>
            </div>
        </div>

    {% endfor %}

{% endblock fos_user_content %}
