{% trans_default_domain 'FOSUserBundle' %}

<h1 align="center"> Profile </h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if not user.imagesId is empty %}
                <img src="{{ asset('/uploads/images/' ~ user.imagesId) }}" class="img-circle" height="150"/>
            {% else %}
                <img src="{{ asset('images/imageprofil.png') }}" class="img-circle" height="150">
            {% endif %}
            <h4> Nom : <span class="field_color">{{ user.lastName }}</span> </h4>
            <h4> Prénom : <span class="field_color">{{ user.firstName }}</span></h4>
            <h4> {{ 'profile.show.username'|trans }} : <span class="field_color">{{ user.username }}</span></h4>
            <h4> Date d'Anniversaire : <span class="field_color">{{ user.Birthday|date("d/M/Y") }}</span></h4>
            <h4> Adresse : <span class="field_color">{{ user.Address }}</span></h4>
            <h4> Pays : <span class="field_color">{{ user.country }}</span></h4>
            <h4> {{ 'profile.show.email'|trans }} : <span class="field_color">{{ user.email }}</span></h4>
            <br>
            <p>
                <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Editer mon profile</a>
                <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">{{ 'form.new_password'|trans }}</a>
            </p>
        </div>
        <div class="col-md-4">
            {% include'@User/modulesUsed/users-connect.html.twig' %}
        </div>
    </div>
</div>