{% extends '@App/base.html.twig' %}

{% block body %}
    <h1 align="center"> Modifier Profile de {{ user.fullName }}</h1>
    <div class="container_base">
        <div class="row">
            <form action="{{ path('user_edit', { 'id': user.id }) }}" method="POST" enctype="multipart/form-data">
                {% if not user.imagesId is empty %}
                    <img src="{{ asset('/uploads/images/' ~ user.imagesId) }}" class="img-circle" height="150"/>
                {% else %}
                    <img src="{{ asset('images/imageprofil.png') }}" class="img-circle" height="150">
                {% endif %}
                {{ form_widget(edit_form, {'class': 'horizontal-form'}) }}
                <button type="submit" style="width: 100%;" class="btn btn-success">Enregister</button>
                <a class="btn btn-primary" style="width: 100%;" href="{{ path('user_show', { 'id': user.id }) }}">Retour a la liste</a>
            </form>
        </div>
    </div>
{% endblock %}