{% extends '@View/base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Dateanniversaire</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Codepostal</th>
                <th>Telephone</th>
                <th>Illustration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{% if user.dateAnniversaire %}{{ user.dateAnniversaire|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.pays }}</td>
                <td>{{ user.codePostal }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.illustration }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
