{% extends '@View/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Liste des Membres</h1><br>
        <div class="row">
            <div class="span9">
                <ul class="thumbnails">
                    {% for member in members %}
                    <div class="span3">
                        <div class="thumbnail">
                            <img src="{{ asset('images/imageprofil.png') }}" alt="" class="img-circle" width="200" height="150">
                            <h4> Date d'Anniversaire :</h4>
                            <p>{% if member.birthday %}{{ member.birthday|date('Y-m-d') }}{% endif %}</p>
                            <h4> Adresse :</h4>
                            <p class="rouge">{{ member.address }}</p>
                            <h4> Ville :</h4>
                            <p class="rouge">{{ member.city|capitalize}} </p>
                            <h4> Code Postal :</h4>
                            <p class="rouge">{{ member.zipCode|capitalize}}</p>
                            <h4> Pays :</h4>
                            <p class="rouge">{{ member.contry|capitalize}} </p>
                            <div class="foot" align="center">
                                <a href="">
                                    <button class="btn-success"> Ajoutez</button>
                                </a>
                                <a href="">
                                    <button class="btn-info"> Message</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
